.imgWrap {
    position: relative;
    margin-left: -20px;
    width: calc(100% + 40px);
    height: 405px;
    img {
        object-fit: cover
    }
}

.titleArea {
    position: relative;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
    strong {
        display: block;
        width: 100%;
        padding-right: 40px;
        font-size: 22px;
    }
}

.titleDetail {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}

.moreArea {
    position: absolute;
    right: 0;
    top: 0;
}

.contentArea {
    margin-top: 20px;
}

.likeArea {
    text-align: center;
    margin-top: 120px;
}

.commentArea {
    margin-top: 70px;
}

.commentList {
    margin-top: 30px;
    border-top: 1px solid #ddd;
}

.btnArea {
    margin-top: 20px;
    text-align: right;
}