.loginContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 81px);
    margin: 0 auto;
    padding: 0 120px;
}

.loginContent > div {
    width: 100%;
}