.completeWrap {
    margin-bottom: 20px;
    padding: 70px 0;
    text-align: center;
    font-size: 18px;
    border-radius: 8px;
    background-color: #f8fbff;
}
.completeWrap span {
    color: #0067ff;
    font-weight: 600;
}
