.inputFile {
    margin-bottom: 10px;

    label {
        display: flex;

        p {
            width: calc(100% - 115px);
            height: 42px;
            line-height: 42px;
            padding: 0 15px;
            border: 1px solid #ddd;
            border-right: none;
            border-radius: 8px 0 0 8px;
            color: #c0c0c0;
            font-weight: 400;
        }

        div {
            width: 115px;
            height: 42px;
            text-align: center;
            line-height: 42px;
            border-radius: 0 8px 8px 0;
            background-color: #f5f5f5;
        }
    }

    input{
        display: none;
    };
}