.likeArea {
    button {
        width: 62px;
        height: 62px;
        background-color: transparent;
        border: 1px solid #c0c0c0;
        border-radius: 8px;
        transition: 0.4s all;
    }

    button + button {
        margin-left: 10px;
    }

    .like:hover {
        border-color: #0067ff;
        background-color: #0067ff;
        svg {
            color:#fff;
        }
    }

    .unLike:hover {
        border-color: #ff2e00;
        background-color: #ff2e00;
        svg {
            color:#fff;
        }
    }

    svg {
        font-size: 20px;
        color: #c0c0c0;
        transition: 0.4s all;
    }
        
}