.textarea {
    width: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px 15px;
    resize: none;
    transition: all 0.4s;
}

.textarea::placeholder {
    color:#c0c0c0;
    font-weight: 400;
}

.textarea:focus {
    outline: none;
    border: 1px solid #0067ff;
}